@import "../styles/colors";
@import "../styles/typography";

.list {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
        color: $color_background-text;
    }
}

.empty-list {
    width: 100%;
    max-width: 24rem;
    flex-grow: 1;
    max-height: 30rem;
    position: relative;

    .empty-list-placeholder {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        opacity: .25;

        img {
            opacity: .75;
            filter: grayscale(90%);
        }
    
        span {
            display: block;
            margin: .75rem;
        }
    }
}

.list-item-2 {
    $padding-vertically: .75rem;
    $padding-horizontally: 1rem;
    padding: $padding-vertically $padding-horizontally;
    position: relative;

    li:first-child & {
        margin-top: $padding-vertically;
    }

    .text-1 {
        @include text_body-strong();
        padding: 0;
        margin: 0;
        position: relative;
    }

    .text-2 {
        @include text_small();
        padding: 0;
        margin: 0;
    }
}

.list .list-item-2 {
    &:hover, :focus & {
        .text-1::before {
            $arrow-size: 5px;
            content: " ";
            display: inline-block;
            position: absolute;
            left: -$arrow-size * 3.5;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: middle;
            border: $arrow-size solid $color_background-text;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }
}