@import "../styles/colors";

nav {
    width: 100%;
    background: $color_background-dark;

    a {
        color: $color_background-text;
        padding: .25rem .5rem;
        display: inline-block;

        &.external {
            color: $color_primary;
        }
    }

    &.light {
        background: none;
    }
}
