@import "../styles/colors";
@import "../styles/typography";
@import "../styles/dimensions";

$cellborder: 1px solid $color_primary;

table {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    overflow: auto;

    border-spacing: 0;
}

.table-wrapper {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    position: relative;

    .static-table-border {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: $cellborder;
        pointer-events: none;
    }
}

thead tr, tbody tr:nth-child(2n) {
    background: $color_background-semidark;
}

th, td {
    padding: .5rem;
    text-align: center;

    border: $cellborder;
    border-right: none;
    border-bottom: none;

    &:first-child {
        text-align: start;
    }

    &:last-child {
        text-align: end;
        border-right: $cellborder;
    }

    tbody tr:last-child & {
        border-bottom: $cellborder;
    }

    .list-item-2 {
        padding: 0;
    }

    .responsive-cell-heading {
        display: none;
        padding-right: 2.5rem;
    }
}

th {
    @include text_small();
}

@media screen and (max-width: $dimen_mobile-width) {
    .table-wrapper .static-table-border {
        display: none;
    }

    table, tbody {
        display: block;
        width: 100%;
        max-width: none!important;
    }

    th {
        display: none;
    }

    tbody tr {
        display: block;

        $rowmargin: 2.5rem;
        $edge-rowmargin: 1rem;
        margin: $rowmargin 0;

        $rowborder: 1px solid $color_primary;
        border-top: $rowborder;
        border-bottom: $rowborder;

        background: none!important;

        &:first-child {
            margin-top: $edge-rowmargin;
        }

        &:last-child {
            margin-bottom: $edge-rowmargin;
        }

        td {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: none!important;
            text-align: end!important;

            border: none!important;

            &:nth-child(2n) {
                background: $color_background-semidark;
            }

            .responsive-cell-heading {
                @include text_small();
                display: inline-block;
                align-self: center;
            }

            .cell-content {
                flex-grow: 1;
            }
        }
    }
}
