@import "../styles/colors";
@import "../styles/typography";

#home {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    nav {
        border: none;

        &::before {
            content: none;
        }

        a {
            @include text_large();
            color: $color_background-text;
        }
    }

    img {
        max-width: 60%;
    }
}