@import "../styles/typography";

article.post {
    header {
        margin: 2em 0rem;
    
        h1 {
            margin: 0;
        }
    
        small {
            @include text_small();
    
            & > span:not(:last-child)::after {
                content: " | ";
            }
        }
    }
}