@import "styles/colors";
@import "styles/typography";

* {
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    color: $color_background-text;
    background-color: $color_background;
    @include text_body();
    font-family: $font_monospace;
}

#root, #root > div:first-child { //Somewhere this wrapper child is created, idk where
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section:not(:first-child) {
    margin-top: 3.5em;
}

p, ul, ol {
    max-width: 50em;
}

a {
    // @include text_body-strong();
    text-decoration: none;
    color: $color_primary;

    &:hover {
        text-decoration: underline;
    }

    &.back {
        @include text_small();
    
        &::before {
            content: "<";
            margin-right: 1em;
        }
    }
}

nav#page-nav {
    // position: fixed;
    // top: 0;
    border-bottom: 1px solid #333;
    position: relative;

    &::before {
        content: " ";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid #555;
    }
}

.content, .content > div:first-child { //More wrapper children
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 1rem;
    // margin-top: 1rem;
}
